#services {
    padding-top: 1vh;
    background-color: #112a2d;
    box-shadow: -5px -5px 20px black;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.service {
    width: 33.33%;
    color: #FFF;
    padding: 10rem 0;
    background-size: cover;
}

#Mowing {
    background-image: url('../../images/stock1.jpg');
}

#Hauling {
    background-image: url('../../images/stock2.jpg');
}

#Other {
    background-image: url('../../images/stock3.jpg');
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .service {
        width: 100%;
        padding: 7rem 0;
    }
}