#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../images/BannerImg.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#banner img {
    height: 20rem;
}